$port-gore: #181743;
$di-serria: #d8a04d;
$mule-fawn: #865729;
$dallas: #754e27;
$tussock: #c68d4a;
$curious-blue: #3895d2;
$french-pass: #adfbfb;
$monte-carlo: #73c7af;
$solitude: #eaf7ff;
$biscay: #1b2c58;
$shakespeare: #3d93d0;
$santas-gray: #9197af;
$st-tropaz: #25439b;
$dodger-blue: #306bf5;
$royal-blue: #306cf1;
$bright-turquoise: #37e1f8;
$sky-blue: #49beff;
$white: #fff;
