@import "colors";

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.actions {
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  background-color: $port-gore;
}

#Cow,
#Factory,
#Teleport {
  $componentsSize: 200px;
  position: relative;
  width: $componentsSize;
  height: $componentsSize;
  background-repeat: no-repeat;
  background-size: cover;
}

.actions-wrapper {
  text-align: center;
  position: absolute;
  top: 100%;
  width: 100%;

  .component-information {
    font-size: 20px;
    color: $white;
    position: relative;

    .count,
    .milk-per-sec,
    .price {
      display: block;
      margin-bottom: 5px;
      text-align: left;

      &:before {
        margin-right: 5px;
        content: ""attr(data-text)":";
      }
    }
  }

  .actions-panel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {

      margin: 5px 0;
      padding: 5px 15px;
      background: transparent;
      box-shadow: none;
      color: $white;
      border: 1px solid $white;
    }
  }
}
